* {
  color: #333;
}

.view {
  @include position;
  width: 100%;
  background: #666;
  overflow-x: hidden;
}

section {
  width: 100%;
}

.container {
  width: 100%;
}

// REMOVABLE CODE START
.header {
  @include position(f, 0, null, null, 0);
  width: 100%;
  z-index: 9999;
  &__wrap {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    width: inherit;
    height: 170px;
    padding: 30px 40px;
  }
  &__logo {
    h1 {
      color: #FFF;
    }
  }
  button {
    border: none;
    background: transparent;
    i {
      color: #FFF;
      font-size: 30px;
    }
  }
  &__gnb {
    @include position(f, 0, 0, 0, 0);
    width: 100%;
    height: 100vh;
    &-back {
      @include position(a, 0, 0, 0, 0);
      width: inherit;
      height: inherit;
      background: rgba(0, 0, 0, 0.5);
    }
    &-front {
      @include position(a, 0, 0, null, null);
      width: 37%;
      max-width: 37%;
      height: 100vh;
      background: #FFF;
      padding: 80px;
    }
    &-close {
      @include position(a, 40px, null, null, -40px);
      transform: translateX(-100%);
      i {
        font-size: 30px;
      }
    }
    &-main {
      @include flex-column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 30px;
      margin-bottom: 100px;
      li {
        width: 100%;
        a {
          @include flex-row;
          justify-content: space-between;
          align-items: center;
          width: inherit;
          font-size: 33px;
          color: #999;
          font-weight: 600;
          transition: $transition--default;
          i {
            color: #999;
          }
          &:hover {
            color: #333;
            i {
              color: #333;
            }
          }
        }
      }
    }
    &-sub {
      @include flex-column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 15px;
      li {
        a {
          @include flex-row;
          justify-content: flex-start;
          align-items: center;
          font-size: 14px;
          font-weight: 400;
          i {
            display: inline-block;
            margin-left: 3px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 25px;
  min-width: 120px;
  text-align: center;
  &.light {
    background: #FFF;
    color: #333;
    border: 1px solid #333;
  }
  &.dark {
    background: #111;
    color: #FFF;
    border: 1px solid #111;
  }
}

.style {
  &__bottom-blur {
    @include position;
    &::after {
      @include position(a, 0, 0, 0, 0);
      background: linear-gradient(transparent 0% 50%, rgba(0, 0, 0, 0.4) 70%);
      width: 100%;
      height: 100%;
      content: "";
    }
  }
}

.slide__btn {
  @include flex-row;
  @include position(a, 50%, null, null, null);
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  width: 32px !important;
  height: 60px !important;
  background: #333 !important;
  color: #FFF !important;
  border: none;
  margin: 0 !important;
  cursor: pointer;
  &::after {
    font-family: swiper-icons;
    font-size: 16px !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    content: "";
  }
  &.prev {
    left: 0;
    &::after {
      content: "prev";
    }
  }
  &.next {
    right: 0;
    &::after {
      content: "next";
    }
  }
  &.disable {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
  }
}

.scroll {
  cursor: pointer;
  color: #FFF;
  background: none;
  border: 0;
  z-index: 1;
  font-size: 14px;
  i {
    display: block;
    font-size: 23px;
    margin-top: 10px;
  }
  &__down {
    @include position(a, null, null, 30px, 50%);
    transform: translateX(-50%);
    p {
      color: #FFF;
    }
    i {
      color: #FFF;
      animation: 1.2s visual-arrow-down infinite;
    }
  }
  &__top {
    width: 100%;
    background: #FFF;
    border: {
      top: 1px solid #d9d9d6;
      bottom: 1px solid #d9d9d6;
    }
    padding: {
      top: 10px;
      bottom: 10px;
    }
  }
  &__up {
    @include flex-row;
    justify-content: center;
    align-items: center;
    width: inherit;
    font-size: 13px;
    i {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}

.footer {
  background: #FFF;
  &__menu {
    @include flex-row;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 16px;
    column-gap: calc(30% / 3);
    border-bottom: 1px solid #d9d9d6;
    &-item {
      width: calc(70% / 4);
      padding: 0 16px;
      p {
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      ul:not(.sns) {
        @include flex-column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 3px;
        li {
          a {
            font-size: 12px;
            font-weight: 400;
          }
        }
      }
      .sns {
        @include flex-row;
        justify-content: flex-start;
        align-items: center;
        column-gap: 15px;
        margin-top: 15px;
        li {
          a {
            i {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
  &__copy {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px 8px;
    &-list {
      @include flex-row;
      column-gap: 20px;
      li {
        a {
          font-size: 11px;
          font-weight: 600;
        }
        + li {
          @include position;
          &::after {
            @include position(a, 50%, null, null, -10px);
            transform: translateY(-25%);
            width: 1px;
            height: 50%;
            background: #333;
            content: "";
          }
        }
        &:last-of-type {
          a {
            font-weight: 300;
          }
        }
      }
    }
    p {
      font-size: 11px;
      font-weight: 600;
    }
  }
  &__info {
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    padding: 0 32px 16px;
    p {
      font-size: 11px;
      color: #666;
      font-weight: 300;
    }
  }
}