:root {
  --info-count: 0;
}

.visual {
  width: 100%;
  height: 100vh;
  .swiper {
    height: inherit;
    &-slide {
      @include position;
      .container {
        @include position(a, 160px, null, null, 50%);
        transform: translateX(-50%);
        width: 100%;
        padding: 0 80px;
      }
      p {
        display: block;
        color: #FFF;
      }
      &-title {
        font-size: 76px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 0.9em;
        span {
          line-height: 1;
          color: #FFF;
          &.ko {
            font-size: 64px;
          }
          &.en {
            font-size: 45px;
          }
        }
      }
      &-desc {
        font-size: 22px;
        font-weight: 600;
        margin: {
          top: 20px;
          bottom: 40px;
        };
        span {
          display: inline-block;
          font-size: 12px;
          font-weight: 600;
          color: #FFF;
        }
      }
    }
    &-pagination {
      bottom: 148px !important;
      &-bullet {
        @include position;
        display: inline-block;
        width: 292px;
        height: 1px;
        background: #FFF;
        border-radius: 0;
        opacity: 1;
        text-transform: uppercase;
        &::before {
          @include position(a, null, null, 0, 0);
          width: 0px;
          height: 3px;
          content: "";
        }
        &::after {
          @include position(a, 10px, null, null, 0);
          font-size: 14px;
          font-weight: 600;
          color: #FFF;
          content: "Renault 한국에서 만나다";
        }
        &:nth-of-type(2) {
          &::after {
            content: "NEW ARKANA";
          }
        }
        &:nth-of-type(3) {
          &::after {
            content: "NEW QM6";
          }
        }
        &-active {
          &::before {
            width: inherit;
            background: #FFF;
            animation: 0.5s trace-in backwards;
          }
        }
      }
    }
  }
}

.car {
  height: 100vh;
  background: #DDD;
  &__view {
    @include position;
    height: inherit;
    &-canvas {
      width: 100%;
      height: inherit;
      border: none;
    }
  }
  &__info {
    @include position(a, 0, null, null, 0);
    width: 100%;
  }
  &__title {
    @include position(a, 80px, null, null, 120px);
    p {
      display: block;
      font-size: 72px;
      line-height: 0.9em;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
  &__desc {
    @include grid(2);
    @include position(a, 80px, 120px, null, null);
    gap: 20px 88px;
    &-item {
      @include flex-column;
      row-gap: 10px;
      width: 190px;
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid #BBB;
        padding-bottom: 20px;
      }
      p {
        font-weight: 400;
        &.val {
          display: block;
          font-size: 32px;
          font-weight: 700;
          line-height: 0.9;
          white-space: nowrap;
          span {
            font-size: 56px;
          }
        }
        &:last-of-type {
          color: #777;
          font-size: 15px;
          margin-top: 4px;
        }
      }
    }
  }
  &__btn-wrap {
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 7px;
  }
}

.info {
  @include grid(3);
  column-gap: 10px;
  padding: 40px 0;
  background: #FFF;
  &__item {
    @include position;
    aspect-ratio: 1;
    background: #406EA5;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(0.95);
      transition: $transition--default;
    }
    &:hover {
      i {
        opacity: 1;
      }
      img {
        transform: scale(1);
      }
    }
  }
  &__title {
    @include flex-row;
    @include position(a, 50px, null, null, 0);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    p {
      font-size: 41px;
      font-weight: 700;
      color: #FFF;
      line-height: 0.8;
      text-transform: capitalize;
    }
    i {
      opacity: 0;
      font-size: 45px;
      color: #FFF;
      transition: $transition--default;
    }
  }
}

.event {
  background: #FFF;
  padding-bottom: 50px;
  &__slider {
    @include position;
    width: 100%;
    overflow: hidden;
    &-item {
      @include position;
      height: 638px;
      overflow: hidden;
      z-index: 0;
      // min-width: 70%;
      // height: 683px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .txt_wrap {
        @include position(a, null, null, 60px, 50%);
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        z-index: 1;
        p {
          display: block;
          color: #FFF;
          font-size: 17px;
          font-weight: 700;
          margin-bottom: 30px;
          margin-top: 20px;
          line-height: 0.9;
          &:first-of-type {
            font-size: 26px;
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
    &-wrapper {
      // column-gap: var(--LoopSliderGap);
      transition: $transition--default;
    }
  }
  .owl {
    &-dots {
      span {
        width: 8px !important;
        height: 8px !important;
        margin: 5px 4px !important;
      }
      &.active {
        span {
          background: #333 !important;
        }
      }
    }
  }

}

.product {
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
  background: #FFF;
  padding: 20px 0;
  height: 100%;
  &__title {
    @include flex-column;
    justify-content: center;
    align-items: flex-start;
    min-width: 28%;
    padding: 0 40px 0 80px;
    p {
      &:first-of-type {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 24px;
        line-height: 0.9em;
      }
      span {
        display: block;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 20px;
      }
      &:nth-of-type(2) {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.4em;
      }
    }
  }
  &__content {
    width: 72%;
    .swiper {
      width: 100%;
    }
    .swiper-wrapper {
      padding: {
        left: 10px;
        top: 20px;
        bottom: 20px;
      }
    }
    .swiper-slide {
      overflow: hidden;
      border-radius: 30px;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }
  }
  &__img {
    img {
      width: 100%;
    }
  }
  &__txt {
    padding: 10px 40px 60px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
  }
}

.notice {
  background: #000;
  padding: 24px 32px;
  &__list {
    @include flex-row;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
  }
  &__item {
    @include flex-column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    a {
      display: block;
      width: 20%;
    }
    i {
      color: #EFDF00;
      font-size: 40px;
      display: block;
      margin-bottom: 8px;
    }
    p {
      color: #FFF;
      font-size: 13px;
    }
  }
}



